In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
from matplotlib_venn import venn2

%matplotlib inline
%config Completer.use_jedi = False

In [2]:
data_path = '../readonly/final_project_data'

In [3]:
from os import listdir, path
file_names = listdir(data_path)
file_names

['sales_train_v2.csv',
 'shops.csv',
 'test.csv',
 'item_categories.csv',
 'items.csv',
 'sales_train_mathematica.dat',
 'sample_submission.csv']

In [4]:
train = pd.read_csv(path.join(data_path,file_names[0]))
test = pd.read_csv(path.join(data_path,'test.csv'))
categories = pd.read_csv(path.join(data_path,'items.csv'))

In [5]:
train.date = pd.to_datetime(train['date'],   format='%d.%m.%Y')

In [6]:
cat_names = ['date_block_num','shop_id','item_id']
for cat in cat_names:
    train[cat] = train[cat].astype('category')

cat_names = ['shop_id','item_id']
for cat in cat_names:
    test[cat] = test[cat].astype('category')

cat_names = ['item_name', 'item_id', 'item_category_id']
for cat in cat_names:
    categories[cat] = categories[cat].astype('category')

In [52]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df.rename(index=str, columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [63]:
grp = train.groupby(["date_block_num","shop_id","item_id"]).agg({"item_cnt_day":'sum',"item_price":'mean'})
grp.reset_index(inplace=True)
grp.rename(index=str,columns={'item_cnt_day':'item_cnt_month'},inplace=True)
grp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1609124 entries, 0 to 1609123
Data columns (total 5 columns):
date_block_num    1609124 non-null category
shop_id           1609124 non-null category
item_id           1609124 non-null category
item_cnt_month    1609124 non-null float64
item_price        1609124 non-null float64
dtypes: category(3), float64(2)
memory usage: 43.8+ MB

In [25]:
date_shop = train.groupby(['date_block_num','shop_id'])['item_cnt_day'].count()
date_shop

date_block_num  shop_id
0               0          4793
                1          2694
                2          1071
                3           749
                4          1894
                6          3254
                7          2278
                8          1389
                10          875
                12          719
                13         1078
                14         1625
                15         2410
                16         2756
                18         2531
                19         2729
                21         1403
                22         1606
                23         1807
                24         1643
                25         6971
                26         2144
                27         4696
                28         5720
                29         2524
                30         2761
                31         8439
                32         1185
                35         1979
                37         2241
                           ...
33              20          847
                21         1567
                22         1061
                24         1065
                25         4655
                26         1122
                28         2512
                31         4857
                34          340
                35         1264
                36          306
                37          657
                38          965
                39          695
                41          692
                42         3110
                44          724
                45          624
                46         1154
                47         1471
                48          986
                49          621
                50          843
                52          786
                53          943
                55         1374
                56         1165
                57         2095
                58         1328
                59          729
Name: item_cnt_day, Length: 1586, dtype: int64

In [45]:
shop_item=train.groupby(['shop_id','item_id'])['item_cnt_day'].count()
shop_item

shop_id  item_id
0        30           9
         31           7
         32          11
         33           6
         35          12
         36           1
         40           1
         42           1
         43           1
         49           2
         51           4
         57           1
         59           1
         61           1
         75           1
         85           1
         88           1
         95           1
         96           1
         97           1
         98          18
         111          2
         115          1
         136          1
         149          3
         151          1
         152          1
         153          3
         198          1
         199          1
                   ...
59       22079        1
         22087      133
         22088      133
         22091       29
         22092       52
         22100        2
         22102        4
         22104        1
         22105        3
         22106        1
         22114        2
         22115        1
         22118        1
         22126        4
         22130        4
         22132        2
         22134        2
         22139        2
         22141        2
         22143        7
         22144        1
         22145        4
         22150        2
         22151        3
         22153        1
         22154        1
         22155        1
         22162       16
         22164        6
         22167        4
Name: item_cnt_day, Length: 424124, dtype: int64

In [46]:
grid=pd.merge(date_shop.reset_index().drop('item_cnt_day',axis=1),shop_item.reset_index().drop('item_cnt_day',axis=1),on='shop_id')

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

In [47]:
grid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13150956 entries, 0 to 13150955
Data columns (total 3 columns):
date_block_num    category
shop_id           category
item_id           category
dtypes: category(3)
memory usage: 151.3 MB

In [48]:
grid.nunique()

date_block_num       34
shop_id              60
item_id           21807
dtype: int64

In [36]:
train.nunique()

date               1034
date_block_num       34
shop_id              60
item_id           21807
item_price        19993
item_cnt_day        198
dtype: int64

In [64]:
full_train=pd.merge(grid,grp,on=['date_block_num','shop_id','item_id'],how='left')

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

In [67]:
full_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13150956 entries, 0 to 13150955
Data columns (total 5 columns):
date_block_num    category
shop_id           category
item_id           category
item_cnt_month    float64
item_price        float64
dtypes: category(3), float64(2)
memory usage: 352.0 MB

In [92]:
full_train['item_cnt_month'].fillna(value=0,inplace=True)
full_train.head()

  date_block_num shop_id item_id  item_cnt_month  item_price
0              0       0      30             0.0         NaN
1              0       0      31             0.0         NaN
2              0       0      32             6.0       221.0
3              0       0      33             3.0       347.0
4              0       0      35             1.0       247.0

In [91]:
full_train['item_cnt_month'].mean()

0.2774099464708117

In [95]:
full_train.to_feather('../data/preprocessed_train.ftr')